body {
    background: url("airline-reservation\src\main\resources\static\images\flight.jpg") no-repeat center center/cover;
    min-height: 100vh;
    position: relative;
}
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
    z-index: -1;
}

.btn-nav {
    color: white !important;
    margin-left: 12px;
}
.btn-nav:hover {
    background: rgba(255,255,255,0.25);
    transform: translateY(-2px);
}

.reservation-card {
    width: 850px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    animation: fadeIn .8s ease-in-out;
}

.input-custom {
    border-radius: 10px;
    background: rgba(255,255,255,0.85);
}

.btn-reserve {
    background: #0d6efd;
    color: white;
    padding: 12px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s ease;
}
.btn-reserve:hover {
    background: #084bb6;
    transform: translateY(-3px);
}

.glass-box {
    background: rgba(255,255,255,0.15);
    border-radius: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(40px); }
    to { opacity: 1; transform: translateY(0); }
}
